@import "tailwindcss";
@plugin "daisyui";

/* Theme Color
    0. #ff637d
    1. #570DF8
    2. #F000B8
    3. #37CDBE
    4. #3D4451
    5. #3ABFF8
    6. #36D399
    7. #FBBD23
    8. #F87272

*/
:root {
  --main-theme: #ff637d;
}

@theme {
  --color-main-theme: var(--main-theme);
  --breakpoint-xs: 410px;
}

@layer utilities {
  .small-caps {
    font-variant: small-caps;
  }
  .checkbox {
    color: var(--main-theme);
  }
}

:root {
  scrollbar-color: var(--main-theme) #fff;
  scrollbar-width: thin;
}

#root {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  background: #fff;
  color: #000;
  min-height: 100vh;
  max-width: 100vw;
}
